:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  > .spinner {
    margin: auto;
  }
  > .launch-detail {
    > .header {
      position: sticky;
      z-index: 1;
      top: 0;
      > .name {
        flex: 1;
        text-align: center;
      }
    }
  }
}

#youtubeCard {
  > .content {
    display: flex;
    flex-direction: column;
    > .youtube {
      align-self: center;
      display: flex;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.details,
mat-card-actions {
  padding: 0 var(--spacing);
}
