<section class="launch-detail" *ngIf="launch$ | async as launch">
  <mat-toolbar class="header" color="primary">
    <ng-container
      *ngIf="launchesService.getLaunch(launch.id, -1) | async as previous"
    >
      <button
        matTooltip="Previous Launch"
        mat-icon-button
        [routerLink]="['../' + previous.id]"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    </ng-container>
    <span class="name">{{ launch.mission_name }}</span>
    <ng-container
      *ngIf="launchesService.getLaunch(launch.id, 1) | async as next"
    >
      <button
        matTooltip="Next Launch"
        mat-icon-button
        [routerLink]="['../' + next.id]"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>

  links, ships, rockets, countdown
</section>
<mat-spinner class="spinner" *ngIf="!(launch$ | async)"></mat-spinner>
