<mat-card *ngIf="config" class="container" [style.height]="config.height">
  <button
    [disabled]="config.selected <= 0"
    class="button"
    mat-icon-button
    (click)="config.selected = config.selected - 1"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="images">
    <ng-container *ngFor="let image of config.images; let i = index">
      <img
        class="image"
        loading="lazy"
        [src]="image"
        *ngIf="config.selected === i"
      />
    </ng-container>
  </div>
  <button
    [disabled]="config.selected >= config.images.length - 1"
    class="button"
    mat-icon-button
    (click)="config.selected = config.selected + 1"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</mat-card>
