<mat-card *ngIf="config" class="container" [style.height]="config.height">
  <div class="icon-wrapper">
    <button
      *ngIf="config.selected > 0"
      mat-icon-button
      (click)="config.selected = config.selected - 1"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div class="images">
    <ng-container *ngFor="let image of config.images; let i = index">
      <img
        class="image"
        loading="lazy"
        [src]="image"
        *ngIf="config.selected === i"
      />
    </ng-container>
  </div>
  <div class="icon-wrapper">
    <button
      *ngIf="config.selected < config.images.length - 2"
      mat-icon-button
      (click)="config.selected = config.selected + 1"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-card>
