:host {
  display: grid;
  grid-template-areas: ". rockets toc .";
  height: 100%;
  justify-content: center;
  > .spinner {
    margin: auto;
  }
  > .toc {
    grid-area: toc;
    > ul {
      padding: 0;
      position: sticky;
      top: 2rem;
      > li {
        font-size: 1rem;
        list-style: none;
        margin: 0;
        padding: 0.25rem 0.5rem;
        > a {
          cursor: pointer;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  > .rockets {
    grid-area: rockets;
    //
    display: grid;
    gap: 2rem;
    padding: 2rem;
    max-width: 25rem;
    justify-content: center;
  }
}
