.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  > .header {
    position: sticky;
    z-index: 2;
  }
  > .sidenav-container {
    flex: 1;
    > .sidenav {
      width: 200px;
    }
    > .content > .footer {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 2;
    }
  }
}
