<div class="container">
  <mat-toolbar class="header mat-elevation-z6" color="primary">
    <button mat-icon-button (click)="sideNavigation.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/' + homeBase]">
      {{ app.name }}
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNavigation
      class="sidenav"
      [opened]="!(medium$ | async)"
      [mode]="(medium$ | async) ? 'over' : 'side'"
    >
      <mat-nav-list>
        <mat-list-item>
          <a color="primary" [routerLink]="['/' + launchesBase]">Launches</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <app-footer class="footer"></app-footer>
</div>
