.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  > .header {
    position: sticky;
    z-index: 2;
  }
  > .footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
  }
  > .sidenav-container {
    flex: 1;
    > .sidenav {
      width: 200px;
    }
  }
}
