<header>
  <h1>{{ app.name }}</h1>
</header>
<mat-divider></mat-divider>
<h3>Launches</h3>
<app-launches-overview [launch]="latestLaunch$ | async">
</app-launches-overview>
<button
  class="explore-button"
  mat-raised-button
  color="primary"
  [routerLink]="launchesPage"
>
  Explore All Launches
</button>
<mat-divider></mat-divider>
<h3>Rockets</h3>
<app-rocket-overview [rocket]="rocket$ | async"></app-rocket-overview>
<button
  class="explore-button"
  mat-raised-button
  color="primary"
  [routerLink]="launchesPage"
>
  Explore All Rockets
</button>
