@import "~@angular/material/theming";

@mixin app-launches-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);

  app-launches {
    > #toc > ul > li {
      border-left: solid mat-color($primary) 0.25rem;
      > a {
        color: mat-color($foreground, text);
      }
    }
  }
}
