:host {
  display: grid;
  grid-template-areas: ". launches toc .";
  height: 100%;
  justify-content: center;
  #launches {
    grid-area: launches;
    //
    display: grid;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    > app-launches-overview {
      max-width: 25rem;
    }
    > .launch-header {
      text-align: center;
      margin: 0;
    }
  }
  #toc {
    grid-area: toc;
    width: max-content;
    > ul {
      padding: 0;
      position: sticky;
      top: 2rem;
      > li {
        font-size: 1rem;
        list-style: none;
        margin: 0;
        padding: 0.25rem 0.5rem;
        > a {
          cursor: pointer;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  > .spinner {
    margin: auto;
  }
}
