:host {
  display: grid;
  grid-template-columns: 1fr max-content;
  height: 100%;
  padding: 1rem;
  #launches {
    display: grid;
    gap: 1rem;
    justify-content: center;
    > app-launches-overview {
      max-width: 25rem;
    }
    > .launch-header {
      text-align: center;
      margin: 0;
    }
  }
  #toc {
    > ul {
      position: sticky;
      top: 2rem;
      > li {
        font-size: 1rem;
        list-style: none;
        margin: 0;
        padding: 0.25rem 0.5rem;
        > a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  > .spinner {
    margin: auto;
  }
}

.active-anchor {
  background: red;
  color: purple;
}
